<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PGTesterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  
  <appSettings>
    <!--مهم-->
    <!--شما باید مقادیر زیر را از تنظیمات پیکربندی که توسط آسان پرداخت برای شما ارسال شده است تنظیم نمایید-->

    <!--کد پیکربندی پذیرنده-->
    <add key="MerchantConfigurationId" value="*****" />
    
    <!--نام کاربری پذیرنده-->
    <add key="MerchantUsd" value="******" />
    
    <!--رمز عبور پذیرنده-->
    <add key="MerchantPass" value="******" />

    <!--این دو پارامتر برای بازگشایی نتیجه پرداخت که توسط درگاه آسان پرداخت 
    به صفحه بازگشت اعلام شده توسط پذیرنده ارسال می گردد مورد استفاده قرار می گیرد-->
    <add key="Key" value="******" />
    <add key="Iv"  value="******" />
    <!-- در صورتی که  برای استعلام نتیجه پرداخت از روش استعلام توسط
    شماره فاکتور محلی و فراخوانی متد ترن ریزالت استفاده می کنید به این مقادیر نیاز ندارید-->
    
    <!--آدرس بازگشت از پرداخت در فرآیند خرید-->
    <add key="CallbackEndPoint" value="http://localhost:1402/receivepayment.aspx" />

    <!--آدرس بازگشت از پرداخت در فرآیند قبض-->
    <add key="BillCallbackEndPoint" value="http://localhost:1402/billreceivepayment.aspx" />
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <applicationSettings>
    <PGTesterApp.Properties.Settings>
      <setting name="PGTesterApp_AsanPardakhtIPG_merchantservices" serializeAs="String">
        <value>https://services.asanpardakht.net/paygate/merchantservices.asmx</value>
      </setting>
    </PGTesterApp.Properties.Settings>
  </applicationSettings>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>